.typingContainer {
	display: inline-block;
	/* font-family: monospace; */
	font-size: 42px;
	font-weight: 900;
}

.typedText {
	display: inline-block;
}

.cursor {
	display: inline-block;
	width: 1px;
	background-color: black;
	animation: blink 750ms infinite;
	margin-left: 2px;
}

/* Blinking animation */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
